html {

    box-sizing: border-box;
    height: 100%;
    width: 100%;


}

body {

    display: flex;
    justify-content: center;
    background-image: url('./images/image.jpg');
    align-items: center;
    height: 100%;
    
}
