html {

    box-sizing: border-box;
    height: 100%;
    width: 100%;


}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card_input {

    height: 200px;
    border: 1px solid red;
    
}

.card_result {
    border: 1px solid blue;
    height: 40px;
    width: 100px;
}